h46lpd_1005/kszb_mozi.dtd

<!ELEMENT mozi (film+)>
<!ELEMENT film (rendezo*,szinesz+,iro+)>
<!ATTLIST film id ID #REQUIRED>
<!ATTLIST film mufaj CDATA #REQUIRED>
<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST rendezo nev CDATA #REQUIRED>
<!ELEMENT szinesz EMPTY>
<!ATTLIST szinesz id ID #REQUIRED>
<!ATTLIST szinesz nev CDATA #REQUIRED>
<!ELEMENT iro EMPTY>
<!ATTLIST iro id ID #REQUIRED>